.l-header {
  background-color: #EEE;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 300%;
  margin-bottom: 10px;

  .header-title {
    font-size: 1.5em;
  }

  .header-account {
    display: inline-block;
    text-align: right;
    a {
      color: #FFF;
      font-size: 1em;
      &:hover {
        color: #0A246A;
      }
    }
  }
}