#seo-list{
  .data-column {
    width: 1000px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    .uri-link-preview {
      display: block;
      width:100%;
      font-size: 1.2em;
      &:hover{
        font-weight:bold;
      }
    }
  }
  tbody > tr > td > span {
    color: #F00;
    display:inline-block;
    padding: 2px;
    cursor: pointer;
  }
}

.one-tag {
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
  .glyphicon.glyphicon-trash {
    color: #F00;
    cursor: pointer;
  }
}