.l-header {
  background-color: #EEE;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 300%;
  margin-bottom: 10px; }

.l-header .header-title {
  font-size: 1.5em; }

.l-header .header-account {
  display: inline-block;
  text-align: right; }

.l-header .header-account a {
  color: #FFF;
  font-size: 1em; }

.l-header .header-account a:hover {
  color: #0A246A; }
