header {
  background-color: #15848F;
  color: #ffffff;
  font-size: 30px;
  height: 60px;
  line-height: 30px;
  padding: 16px 0px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
  padding-left:80px;
  float: left;
}

header .user-account {
  float: right;
  font-size: 14px;
  padding-right: 80px;
}
header .user-account a{
  color: #FFF;
}

.page-filter{
  display: block;
  float:left;
  margin: 10px 0px;
}
.page-filter .search-url-form{
  margin-top: -5px;
  display: block;
  float:right;
}

.page-list{
  display: block;
  float:right;
  margin: 10px 0px;
}

.page-list ul {
  list-style: none;
}
.page-list ul li {
  float:left;
  margin-left: 2px;
  border: 1px solid #BBB;
  background-color: #c2e2fa;
}
.page-list ul li a {
  display: inline-block;
  padding: 1px 5px;
}
.page-list ul > .active {
  color: #000;
  border: 1px solid #BBB;
  background-color: #FFF;
}

.title-lv-1{
  margin-left: 20px;
}
.title-lv-2 {
  margin-left: 40px;
}

.font-red{
  color: red;
}


#edit-uri .uri-uri{
  font-size: 20px;
}

